
@font-face {
    font-family: 'futurabold_italic';
    src: url('/css/fonts/futura_bold_italic_font-webfont.woff2') format('woff2'),
         url('/css/fonts/futura_bold_italic_font-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'futuraheavy_italic';
    src: url('/css/fonts/futura_heavy_italic_font-webfont.woff2') format('woff2'),
         url('/css/fonts/futura_bold_italic_font-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body{
    background-image: url("/css/pictures/background.jpg");
    background-size: 100%;
    /* background-color: grey; */
}
h1 {
    display: inline;
    background-clip: border-box;
    background-color: red;
    font-family: 'futuraheavy_italic'; 
    color: white;
    position: relative;
    font-size: 300%;
    
}
p{
    font-family: 'Courier New', Courier, monospace;
    color:white;
    position: relative;
}
p.header{
    left: 30px;
    top: 50px;
    position: absolute;
}
li{
    font-family: 'Courier New', Courier, Monaco;
    color:white;
    position: relative;
}
table{
    font-family: 'futuraheavy_italic'; 
    width:560px;
    border:none;
    border-collapse: collapse;
    position: absolute;
    left: 30px;
    /* bottom: 450px; */
    bottom: 570px;

}
td{
    color:white;
    text-align: center;

    background-color: red;
    font-size: 60%;
    border-left: 3px solid black;
    border-right: 3px solid black;
    padding:0 0 5px 0; /* top - right - botttom - left */
}
td.statTableTopRow, .tooltip{
    color:white;
    text-align:center;
    font-size:175%;
    padding:10px 0 0 0; /* top - right - botttom - left */
    font-weight:bold;
}
select{
    font-family: 'Courier New', Courier, monospace; 
    font-size: 16px;
    background-color: black;
    color: white;
    border: 1px solid white;
}

button{
    background-color: transparent;
    border: none;
    color: white;
    font-family: 'Courier New', Courier, monospace; 
    font-size: 16px;
}
button:hover,
button:focus {
    background-color: red;
    color: white;
}
button.no-white-hover {
    color: black;
    background-color: transparent;
}
button:active, .active {
    background-color:red;
    color: white;
}

ol{
    list-style: none;
    padding-left: 0;
}

button.reset {
    margin-left: 8px;
    background-color: white;
    border: red;
    color: red;
    font-family: 'Courier New', Courier, monospace; 
    font-size: 22px;
    margin-right:25px;
    width: 100px;
    height: 40px;
}
button.plot:hover, button.reset:hover,
button.plot:focus, button.reset:focus {
    background-color: red;
    color: white;
}
button.plot.no-white-hover, button.reset.no-white-hover, {
    color: black;
    background-color: transparent;
}
button.plot:active, .active, button.reset:active {
    background-color:red;
    color: white;
}



.current{
    padding-left: 15px;
}


/* Customize the label (the container) */
.radio_group {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    color: white;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
    border: none;

    font-family: 'Courier New', Courier, monospace; 
    font-size: 16px;
  }
  
  /* Hide the browser's default radio button */
  .radio_group input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: white;
    border-radius: 50%;
  }
  
  /* On mouse-over, add a grey background color */
  .radio_group:hover input ~ .checkmark {
    background-color: red;
  }
  
  /* When the radio button is checked, add a blue background */
  .radio_group input:checked ~ .checkmark {
    background-color: red;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .radio_group input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .radio_group .checkmark:after {
    top: 3px;
    left: 3px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: black;
  }

  input.plot{
    margin-left: 8px;
    background-color: white;
    border: red;
    color: red;
    font-family: 'Courier New', Courier, monospace; 
    font-size: 22px;
    margin-right:25px;
    width: 100px;
    height: 40px;
  }

  
/* Tooltip text */
.tooltiptext {
    visibility: hidden;
    width: 150px;
    bottom: 100%;
    
    margin-left: -120px;
    font-size: 50%;
    background-color: white;
    color: black;
    text-align: center;
    position: absolute;
    z-index: 1;
}
  
  /* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}

.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: white transparent transparent transparent;
  }




a {
 color:white;
 cursor:pointer;
 font-family: 'Courier New', Courier, monospace;
 text-decoration: none
}
a:hover,
a:focus {
 color:white;
 background-color:red
}
a.no-white-hover {
 color:black;
 background:transparent
}


div.container{


    vertical-align: bottom;
    position: absolute;
    left: 30px;
    bottom: 40px;
    z-index: +1;

    height: 525px;
    width: 560px;


}
/*397*/

div.selector{
    vertical-align: bottom;
    position: absolute;
    left: 650px;
    bottom: 150px;
    /* background: green; */
    height: 510px;
    width: 600px;
}

div.description {
    position: absolute;
    left: 30px;
    width: 60%;
}

.container img{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    
}
span.dot_make {
    height: 5px;
    width: 5px;
    position: absolute;
    background-color: red;
    border-radius: 50%;
    opacity: .7;
    display: inline-block;
}
span.dot_miss{
    height: 5px;
    width: 5px;
    position: absolute;
    background-color: white;
    border-radius: 50%;
    opacity: .55;
    display: inline-block;
}

ul.game{
    position: absolute;
    right: 80px;
    top: 10px;
}




 


