@font-face {
    font-family: 'futurabold_italic';
    src: url('/css/fonts/futura_bold_italic_font-webfont.woff2') format('woff2'),
         url('/css/fonts/futura_bold_italic_font-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'futuraheavy_italic';
    src: url('/css/fonts/futura_heavy_italic_font-webfont.woff2') format('woff2'),
         url('/css/fonts/futura_bold_italic_font-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
body{
    background-color: black;
    background-image: url("/css/pictures/background.jpg");
    background-size: 100%
    
}
h1 {
    display: inline;
    background-clip: border-box;
    background-color: red;
    font-family: 'futuraheavy_italic'; 
    color: white;
    position: relative;
}
p{
    font-family: 'Courier New', Courier, Monaco;
    color:white;
    position: relative;
}



a {
 color:white;
 cursor:pointer;
 font-family: 'Courier New', Courier, monospace;
 text-decoration: none
}
a:hover,
a:focus {
 color:white;
 background-color:red
}
a.no-white-hover {
 color:black;
 background:transparent
}
img.court{
    vertical-align: bottom;
    position: absolute;
    left: 20px;
    bottom: 40px;
    
    
    height: 50%;
    width: 30%;
    border: 1px solid;
    border-color: white;
}

p.misses{
    position: absolute;
    left: 20px;
    bottom: 5px;
}


