@font-face {
    font-family: 'futurabold_italic';
    src: url('/css/fonts/futura_bold_italic_font-webfont.woff2') format('woff2'),
         url('/css/fonts/futura_bold_italic_font-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'futuraheavy_italic';
    src: url('/css/fonts/futura_heavy_italic_font-webfont.woff2') format('woff2'),
         url('/css/fonts/futura_bold_italic_font-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body{
    background-image: url("/css/pictures/background.jpg");
    background-size: 100%;
    /* background-color: grey; */
}
h1 {
    display: inline;
    
    background-clip: border-box;
    background-color: red;
    font-family: 'futuraheavy_italic'; 
    color: white;
    position: relative;
    
}
p{
    font-family: 'Courier New', Courier, monospace;
    color:white;
    position: relative;
}
li{
    font-family: 'Courier New', Courier, Monaco;
    color:white;
    position: relative;
}
table{
    /* font-family: 'futuraheavy_italic'; */
    font-family: 'Courier New', Courier, monospace; 
    width:420px;
    border:none;
    border-collapse: collapse;
}
td{
    color:red;
    text-align: center;
    height: 10px;
    background-color: white;
    font-size: 70%;
    border-left: 3px solid black;
    border-right: 3px solid black;
}
td.statTableTopRow{
    color:red;
    text-align:center;
    font-size:200%;
    padding:20px 0 0 0; /* top - right - botttom - left */
    font-weight:bold;
}
select{
    font-family: 'Courier New', Courier, monospace; 
    font-size: 16px;
    background-color: black;
    color: white;
    border: 1px solid white;
}
/* ul.statButtonVertical {
}
ul.statButton {
    display:inline;
}
li.statButtonRow {
    display:inline;
    margin: 0 67px 0 0;
    background: red;
    /* background: #cce5ff; */
/* }
li.statButtonRowTop {
    display:inline;
    margin: 0 40px 0 0;
    background: red;
    font-size: 175%;
}
div.statButtonWrapper {
    padding: 40px 5px 5px 5px; 
/* } */

.dot {
    height: 25px;
    width: 25px;
    background-color: rgb(87, 221, 255);
    border-radius: 50%;
    display: inline-block;
}


a {
 color:white;
 cursor:pointer;
 font-family: 'Courier New', Courier, monospace;
 text-decoration: none
}
a:hover,
a:focus {
 color:white;
 background-color:red
}
a.no-white-hover {
 color:black;
 background:transparent
}
/* img.court{
    vertical-align: bottom;
    position: absolute;
    left: 20px;
    bottom: 40px;
    
    
    height: 400px;
    width: 424px;
    border: 1px solid;
    border-color: white;
} */
/* 
li.shot{
    position: absolute;
    color: red;
    left: 50%;
    bottom: 100%;

    
}
ul.shots{
    position: absolute;
} */

div.container{
    vertical-align: bottom;
    position: absolute;
    left: 20px;
    bottom: 40px;
    z-index: +1;
    
    height: 400px;
    width: 424px;
    border-color: green;
    
}

.container img{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    
}
.dot {
    height: 5px;
    width: 5px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
  }





 


